<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<th:block th:replace="fragments/bootstrap :: bootstrap"></th:block>
<link rel="stylesheet" th:href="@{/css/custom.css}">
<style type="text/css">
.form-group {
	display: flex;
	justify-content: center;
}

.form-group label {
	width: 100px;
}
</style>
<title>MyMOO - Film Ara</title>
</head>
<body>
	<div class="container">
		<!-- Place Navbar -->
		<div th:replace="fragments/navbar :: navbar"></div>

		<!-- If logged in show user info and link -->
		<h5 th:if="${session.user}" class="text-center mt-sm-4">
			Hoşgeldiniz, <a id="profileLink" href="#"><span
				th:text="${session.user.firstName} + ' ' +${session.user.lastName}"
				class="text-danger"></span></a>
		</h5>

		<!--  Search, Sort Form -->
		<div class="form-horizontal mt-4">
			<h3 class="text-center" style="margin-bottom: 30px;">Kullanıcı
				Bilgileri</h3>
			<div class="form-group mb-custom">
				<label class=" control-label col-form-label" for="textinput">Kullanıcı
					Adı</label>
				<div class="col-md-5">
					<input id="textinput" name="textinput" th:value="${user.username}"
						type="text" disabled class="form-control input-md">
				</div>
			</div>
			<div class="form-group mb-custom">
				<label class=" control-label col-form-label" for="textinput">Email</label>
				<div class="col-md-5">
					<input id="textinput" name="textinput" th:value="${user.email}"
						type="text" disabled class="form-control input-md">
				</div>
			</div>
			<div class="form-group mb-custom">
				<label class=" control-label col-form-label" for="textinput">Ad</label>
				<div class="col-md-5">
					<input id="textinput" name="textinput" th:value="${user.firstName}"
						type="text" disabled class="form-control input-md">
				</div>
			</div>
			<div class="form-group mb-custom">
				<label class=" control-label col-form-label" for="textinput">Soyad</label>
				<div class="col-md-5">
					<input id="textinput" name="textinput" th:value="${user.lastName}"
						type="text" disabled class="form-control input-md">
				</div>
			</div>
			<div class="form-group text-center">
				<div class="col-md-5 mt-2" style="">
					<a type="submit" id="singlebutton" href="#"
						class="col-md-6 btn btn-danger">Test - Edit</a>
				</div>
			</div>

			<h3 class="btn btn-danger col-12 mt-5" style="height:38px;"></h3>


			<h3 class="text-center mt-4" style="margin-bottom: 30px;">Favori
				Filmlerim</h3>
		</div>
		<!-- Place pagination  -->
		<div th:replace="fragments/pagination2 :: pagination2"></div>
		<!-- Movie Cards -->
		<div id="movies" style="min-height: 400px;">
			<div class="text-center mt-sm-3" th:if="${emptyResult}">Sonuç
				bulunamadı.</div>
			<div class="cards-list">
				<div class="card " th:each="movie : ${movies}">
					<a th:href="@{/movies/details(movieId=${movie.id})}"
						class="stretched-link"></a>
					<div class="card_image">
						<img th:src="${movie.pictureUrl}" />
					</div>
					<div class="card_title title-black">
						<p th:text="${movie.title} + ' (' + ${movie.releaseYear} + ')'"></p>
					</div>
				</div>
			</div>
		</div>
		<!-- Place pagination  -->
		<div th:replace="fragments/pagination :: pagination"></div>
		<!-- Place footer -->
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>